[submodule "packages/ai-code"]
	path = packages/ai-code
	url = ssh://git@onepi5/davidwuchn/ai-code-interface.el.git
	branch = main
[submodule "packages/ai-behaviors"]
	path = packages/ai-behaviors
	url = ssh://git@onepi5/davidwuchn/ai-behaviors.git
	branch = main
[submodule "packages/mementum"]
	path = packages/mementum
	url = ssh://git@onepi5/davidwuchn/mementum.git
	branch = main
[submodule "packages/nucleus"]
	path = packages/nucleus
	url = ssh://git@onepi5/davidwuchn/nucleus.git
	branch = main
[submodule "packages/nelisp"]
	path = packages/nelisp
	url = ssh://git@onepi5/davidwuchn/nelisp.git
	branch = main
